*.a
*.la
*.lo
*.o
*.tar.*
*~
.bootstrap
.deps
.libs
.emacs.desktop*
.emacsrc
.gdbinit
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
core
gnu
lib
libltdl
libtool
m4
stamp-h1
tmp/
